/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Greensock */
body {
	font: 16px/1.5 'Open Sans', Helvetica, Helvetica Neue, Arial, sans-serif;
	background-color: #ffffff;
	color: #222222;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
}

.bcg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

h1 {
	color: #ffffff;
	font-weight: 300;
	position: absolute;
	bottom: 0%;
	width: 100%;
	margin: 0 0 20px 0;
	font-size: 60px;
	text-align: center;
}

p {
	color: #ffffff;
	font-weight: 300;
	position: center;
	/* bottom: 0%; */
	width: 80%;
	margin: auto;
	margin-top: 20px;
	/* font-size: 60px; */
	text-align: center;
}

.hero {
	position: absolute;
	height: 100%;
	width: 100%;
}

.top {
	overflow: hidden;
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 50%;
	border: 1px rgba(255, 255, 255, 0.2) solid;
	border-width: 1px 1px 0 1px;
}

.homeSlide {
	position: absolute;
	width: 100%;
	height: 100%;
}

.homeSlide.slide1 {
	background: url(./images/img_clouds-top.jpg) no-repeat bottom center;
	background-size: cover;
}
.bottom .homeSlide.slide1 {
	background: url(./images/img_clouds-bottom.jpg) no-repeat top center;
	background-size: cover;
}
.homeSlide.slide2 {
	background: url(./images/img_clouds-drk.jpg) no-repeat bottom center;
	background-size: cover;
}
.bottom .homeSlide.slide2 {
	background: url(./images/img_clouds-bottom-drk.jpg) no-repeat top center;
	background-size: cover;
}
.homeSlide.slide3 {
	background: url(./images/img_clouds-red.jpg) no-repeat bottom center;
	background-size: cover;
}
.bottom .homeSlide.slide3 {
	background: url(./images/img_clouds-bottom-red.jpg) no-repeat top center;
	background-size: cover;
}

.divider {
	z-index: 3;
	position: fixed;
	top: 50%;
	margin-top: -40px;
	left: -200px;
	right: -200px;
	height: 40px;
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(34, 34, 34, 0) 100%);
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(34, 34, 34, 0) 100%);
}

.bottom {
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 30px;
	right: 30px;
	bottom: 30px;
	border: 1px rgba(255, 255, 255, 0.2) solid;
	border-width: 0 1px 1px 1px;
}
.bottom p {
	font-size: 1.5vw;
	color: #ffffff;
	font-weight: 300;
	/* opacity: 0.7; */
	text-align: center;
}
.bottom a {
	color: #fff;
}

#slideNav {
	z-index: 5;
	position: fixed;
	right: 50px;
	top: 50%;
	width: 50px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#slideNav ul {
	list-style: none;
	color: #ffffff;
	font-size: 13px;
	text-align: center;
	margin: 0;
	padding: 0;
}

#slideNav li {
	width: 50px;
	height: 50px;
	line-height: 50px;
	background-color: rgba(0, 0, 0, 0.7);
	margin-bottom: 1px;
}

#slideNav a {
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	color: #ffffff;
}
