/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Greensock */
body {
	font: 16px/1.5 'Open Sans', Helvetica, Helvetica Neue, Arial, sans-serif;
	background-color: hsl(240, 3%, 6%);
	color: #222222;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
}

.navbar {
	font-family: 'Open Sans', sans-serif;
	z-index: 100;
	overflow: hidden;
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	border-width: 2px;
	border-color: #222222;
	background-color: hsl(0, 0%, 100%);
	/* background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(34, 34, 34, 0) 100%);
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(34, 34, 34, 0) 100%); */
	box-shadow: 0px 0px 16px;
}
.bcg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.hero {
	position: absolute;
	height: 100%;
	width: 100%;
	/* border: 8px #968e8e; */
}
.top {
	overflow: hidden;
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 50%;
	border: 1px rgba(255, 255, 255, 0.2) solid;
	border-width: 1px 1px 0 1px;
}
.top-bottom {
	overflow: auto;
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	border: 1px rgba(255, 255, 255, 0.2) solid;
	border-width: 1px 1px 0 1px;
	background-color: hsl(0, 0%, 100%);
}
.blog-button {
	position: fixed;
	bottom:50px;
	left:50px;
	font-size: 18px;
	color: #ffffff;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	background-color: rgb(122, 119, 119, .3);
	text-align: center;
	padding-top: 10px;
}

h1 {
	color: #ffffff;
	font-weight: 300;
	position: absolute;
	bottom: 0%;
	width: 100%;
	margin: 0 0 20px 0;
	font-size: 60px;
	text-align: center;
}

p {
	color: rgb(150, 142, 142);
	font-weight: 300;
	/* bottom: 0%; */
	width: 80%;
	margin: auto;
	margin-top: 20px;
	/* font-size: 60px; */
	text-align: center;
}

.blog-p{
	color: rgb(10, 9, 9);
	width: 80%;
	height: 100%;
	margin: auto;
	margin-top: 20px;
	font-size: 20px;
	text-align: left;
	font-weight: 150;
	font-family: 'Open Sans', sans-serif;
}
/* .blog-p h3, .blog-p h2 {
	font-family: 'Merriweather Sans', sans-serif;
} */

.text {
	position: relative;
	overflow: auto;
	height: 85%;
	top: 56px;
	/* left: 30px;
	right: 30px; */
	bottom: 20px;
}

.homeSlide {
	position: absolute;
	width: 100%;
	height: 100%;
}

.homeSlide.slide1 {
	background: url(./images/sunset2-top.jpg) no-repeat bottom center;
	background-size: cover;
}
.bottom .homeSlide.slide1 {
	background: url(./images/sunset2-bottom.jpg) no-repeat top center;
	background-size: cover;
}
.homeSlide.slide2 {
	background: url(./images/img_clouds-drk.jpg) no-repeat bottom center;
	background-size: cover;
}
.bottom .homeSlide.slide2 {
	background: url(./images/img_clouds-bottom-drk.jpg) no-repeat top center;
	background-size: cover;
}
.homeSlide.slide3 {
	background: url(./images/sunset-top.jpg) no-repeat bottom center;
	background-size: cover;
}
.bottom .homeSlide.slide3 {
	background: url(./images/sunset-bottom.jpg) no-repeat top center;
	background-size: cover;
}
.homeSlide.slide4 {
	background: url(./images/sky2-top.jpg) no-repeat bottom center;
	background-size: cover;
}
.bottom .homeSlide.slide4 {
	background: url(./images/sky2-bottom.jpg) no-repeat top center;
	background-size: cover;
}

.divider {
	z-index: 3;
	position: fixed;
	top: 50%;
	margin-top: -40px;
	left: -200px;
	right: -200px;
	height: 40px;
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(34, 34, 34, 0) 100%);
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(34, 34, 34, 0) 100%);
}

.bottom {
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 30px;
	right: 30px;
	bottom: 30px;
	border: 1px rgba(255, 255, 255, 0.2) solid;
	border-width: 0 1px 1px 1px;
}
.bottom p {
	font-size: 12px;
	color: #ffffff;
	font-weight: 300;
	text-align: center;
}
@media all and (min-width: 550px) {
	.bottom p {
		font-size: 16px;
	}
}
@media all and (min-width: 700px) {
	.bottom p {
		font-size: 18px;
	}
}
@media all and (min-width: 900px) {
	.bottom p {
		font-size: 20px;
	}
}

.bottom a {
	color: #fff;
}

#slideNav {
	z-index: 5;
	position: fixed;
	right: 50px;
	top: 50%;
	width: 50px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#slideNav ul {
	list-style: none;
	color: #ffffff;
	font-size: 13px;
	text-align: center;
	margin: 0;
	padding: 0;
}

#slideNav li {
	width: 50px;
	height: 50px;
	line-height: 50px;
	background-color: rgba(0, 0, 0, 0.7);
	margin-bottom: 1px;
}

#slideNav a {
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	color: #ffffff;
}

@media all and (max-width: 400px) {
	#slideNav {
		width: 25px;
	}
	#slideNav li {
		width: 25px;
		height: 25px;
		line-height: 25px;
	}
	#slideNav ul {
		font-size: 8px;
	}
	#slideNav a {
		display: block;
		width: 25px;
		height: 25px;

	}
}

/* BLOG CSS */
.readme-popup {
	height: 500px;
}
.readme {
	width: 100%;
	height: 100%;
}

.blog-image {
	width: 100%;
	margin-left: 5%;
	margin-right: 5%;
	
	margin:auto;
	margin-top: 30px;
	margin-bottom: 20px;
	/* padding-top:10px;
	padding-bottom:10px; */
	box-shadow: 10px 10px 16px;
}

.react-vis{
	margin: auto;
	/* margin-bottom: 100px; */
}



