body {
	margin: 10;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* width: 30%; */
	margin: auto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
	margin: 100;
}

.blog {
	width: 80%;
	background-color: rgb(217, 219, 213);
	border: 10px rgb(117, 116, 114) solid;
	padding-top: 20px;
	margin: auto;
	margin-top: 10px;
	/* height: 80%; */
}

.blog-body {
	margin: 0;
	width: 100%;
	/* margin-top:20px */
	padding: 0;
	/* height: 100px; */
}

.blog-title {
	margin: auto;
	width: 80%;
	/* margin:20px */
}

.section-title {
	margin: 0px;
	padding: 0px;
}

.blog-description {
	margin: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.blog-text-area {
	width: 80%;
	/* height: 200px */
}

.blog-form {
	width: 100%;
	padding: 0;
	margin: 0;
	margin-left: 0;
	margin-right: 0;
}

.blog-title-input {
	width: 60%;
}
.blog-title-button {
	width: 60%;
}

.ml-image {
	width: 98%;
	margin: auto;
	padding-top: 0px;
	margin-top: 10px;
}
.ml-image-2 {
	width: 100%;
	margin: auto;
	border-width: 20%;
	border-color: rgba(153, 56, 56, 0.795);
	/* padding: 2%; */
}
.ml-image-eq {
  width: 80%;
  margin:auto;
  /* align-content: left; */
	/* margin: 0px; */
	padding-top: 0px;
	margin-top: 10px;
}

.log-button {
  text-align:center;
	padding-top: 1px;
	width: 200px;
	height: 50px;
	border-color: black;
	border-width: 2px;
}

.ml-navbar {
	width: 100%;
}

.log-plot {
	border-color: black;
	border-width: 10px;
	padding-top: 10px;
	width: 50%;
	margin: 0px;
}

.log-plot-outer-div {
	margin: auto;
	width: 100%;
	padding: 20px;
	border: 2px;
	border-style: solid;
	border-color: darkslategrey;
}

.model-drawing{
  width:100%;
  margin:auto;
  align:center;
  /* margin-left:0px; */
  border: 2px;
	border-style: solid;
  border-color: darkslategrey;
  padding-bottom: 10px;
}

.data-chart-description {
	padding-top: 10px;
	margin-bottom: 0px;
}

.log-plot-setup-divs {
	/* margin-left: 100px; */
}

.model-nodes {
  padding:8px;
  text-align:center;
  margin:auto;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: rgb(252, 248, 248);
}

.model-input-layer {
  margin: auto;
  text-align:center;
  /* margin-top:100px;
  margin-bottom:100px; */
  margin-left: 60px;
  
}

.model-hidden-layer {
  margin: auto;
  text-align:center;
  /* margin-top:100px;
  margin-bottom:100px; */
  
  
}

.model-output-layer {
  text-align:center;
  margin: auto;
  /* margin-top:100px;
  margin-bottom:100px; */
  
}

.readme-popup{
	height: 500px;
	width:200px;
}
.readme{
	width: 100%;
	height: 10%;
}