body {
	margin: 10;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* width: 30%; */
	margin: auto;
	background-color: rgb(245, 245, 250);
	background-image: url('./images/giphy.gif');
	background-color: #cccccc; /* Used if the image is unavailable */
	height: 1000px; /*You must set a specified height */
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */ 
}

.navbar.transparent {
	border-width: 0px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	background-color: rgba(0, 0, 0, 0);
	background-image: -webkit-gradient(
		linear,
		50% 0%,
		50% 100%,
		color-stop(0%, rgba(0, 0, 0, 0)),
		color-stop(100%, rgba(0, 0, 0, 0))
	);
	background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
	margin: 100;
}

.blog {
	width: 80%;
	background-color: #4c304e;
	background-image: linear-gradient(to bottom right, rgb(203, 188, 226), rgb(50, 180, 219));
	border: 10px rgb(117, 116, 114) solid;
	padding-top: 20px;
	margin: auto;
	margin-top: 10px;
	/* /* -webkit-text-stroke-color: aliceblue; */
	box-shadow: 10px 10px 16px; 
	height: 80%;
	/* transform: matrix(0,0,0,0,0,20); */
	/* opacity: 0;
	visibility: hidden; */
	
	/*make background transparent
	margin-bottom: 10px;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0);
	background-image: -webkit-gradient(
		linear,
		50% 0%,
		50% 100%,
		color-stop(0%, rgba(0, 0, 0, 0)),
		color-stop(100%, rgba(0, 0, 0, 0))
	);
	background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	*/
}

.github {
	width: 80%;
	background-color: rgb(222, 211, 223);
	border: 10px rgb(117, 116, 114) solid;
	padding-top: 20px;
	margin: auto;
	margin-top: 10px;
	-webkit-text-stroke-color: aliceblue;

	/* height: 80%; */
}

.blog-body {
	margin: 0;
	width: 100%;
	/* margin-top:20px */
	padding: 0;
	/* height: 100px; */
}

.blog-title {
	margin: auto;
	width: 80%;
	/* margin:20px */
}

.section-title {
	margin: 0px;
	padding: 0px;
}

.blog-description {
	margin-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.blog-text-area {
	width: 80%;
	/* height: 200px */
}

.blog-form {
	width: 100%;
	padding: 0;
	margin: 0;
	margin-left: 0;
	margin-right: 0;
}

.blog-title-input {
	width: 60%;
}
.blog-title-button {
	width: 60%;
}

.blog-table-row{
	opacity: 0;
	visibility: hidden;
}

.ml-image {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 0px;
	margin-top: 10px;
	box-shadow: 10px 10px 16px;
}
.ml-image-2 {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
	margin-bottom: 20px;
	/* margin: auto; */
	border-width: 20%;
	border-color: rgba(153, 56, 56, 0.795);
	/* padding: 2%; */
	box-shadow: 10px 10px 16px;
}
.ml-image-eq {
	width: 80%;
	margin: auto;
	/* align-content: left; */
	/* margin: 0px; */
	padding-top: 0px;
	margin-top: 10px;
}

.log-button {
	text-align: center;
	padding-top: 1px;
	width: 200px;
	height: 50px;
	background-color: grey;
	border-color: black;
	border-width: 1px;
	box-shadow: 5px 5px 10px;
}

.ml-navbar {
	width: 100%;
}

.log-plot {
	border-color: black;
	border-width: 10px;
	padding-top: 10px;
	width: 50%;
	margin: 0px;
}

.sklearn-scatter-plot {
	box-shadow: 5px 5px 10px;
}

.log-plot-outer-div {
	margin: auto;
	margin-bottom: 20px;
	/* padding-bottom: 20px; */
	width: 96%;
	/* height: ; */
	padding: 0px;
	border: 2px;
	border-style: solid;
	border-color: darkslategrey;
}

#activation,
#hidden_nodes {
	margin: 6px;
	background-color: grey;
	border-color: black;
	color: white;
}

.model-drawing-outer {
	width: 100%;
	border: 2px;
	border-style: solid;
	border-color: darkslategrey;
	margin: auto;
	padding: 1%;
}

.model-drawing {
	width: 80%;

	margin: auto;
	align: center;
	/* margin-left:0px; */
	border: 2px;
	border-style: solid;
	border-color: darkslategrey;
	background-color: #9aa1a1;
	padding-bottom: 10px;
	box-shadow: 5px 5px 10px;
}

.data-chart-description {
	padding-top: 10px;
	margin-bottom: 0px;
}

.log-plot-setup-divs {
	margin-left: 10px;
}

.model-nodes {
	padding: 8px;
	text-align: center;
	margin: auto;
	margin-bottom: 6px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: rgb(252, 248, 248);
}

.model-input-layer {
	margin: auto;
	text-align: center;
	/* margin-top:100px;
  margin-bottom:100px; */
	margin-left: 60px;
}

.model-hidden-layer {
	margin: auto;
	text-align: center;
	padding: 0;
	/* margin-top:100px;
  margin-bottom:100px; */
}

.model-output-layer {
	text-align: center;
	margin: auto;
	padding: 0;
	/* margin-top:100px;
  margin-bottom:100px; */
}

.ml-model-outer-box {
	margin: 20px;
	padding: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.button-popup {
	height: 300px;
	width: 800px;
}

.readme-popup {
	height: 500px;
	width: 800px;
}
.readme {
	width: 100%;
	height: 100%;
}
